<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="../styles/general.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/viewTasks.css">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">

  <title>Tasks Online</title>
</head>
<body>
  <header>
    <div class="cntHeader mb-1">
      <h1 class="mainTitle">Tareas a desarrollar.</h1>
      <a href="./newTasksPage" class="btnHeader">Nueva Tarea</a>
    </div>
  </header>

  <div class="cntTasks">
    <% tasks.forEach(element => { %>
      <div class="cntTask">
        <div class="cntTitleBtns">
          <div>
            <h2 class="mb-1 taskTitle"><%- element.affair %></h2>
          </div>
          <div>
            <img class="iconTask btnEdit" name="<%- element.id %>" src="../images/edit.png" alt="edit">
            <img class="iconTask btnDelete" name="<%- element.id %>" src="../images/delete.png" alt="delete">
          </div>
        </div>
        <p class="mb-05">Descripcion: <%- element.description %></p>
        <p class="mb-05">Fecha: <%- element.noticeDate %></p>
        <p>Mails: </p>
        <ul class="ml-15 mb-05">
          <% element.mails.forEach(mail => { %>
            <li><%- mail %></li>
          <% }) %>
        </ul>
          <p>Repeticion: <%- element.timeRepetTask %></p>
      </div>
    <% }) %>
  </div>

  <script src="../js/viewTasks.js"></script>
</body>
</html>